#error
{
	margin: auto;
	position: relative;
	left: 350px;
	border-style: solid;
	color: red;
	font-size: x-large;
}

#admin input:hover
{
	box-shadow: 5px 5px 1px #000000;
}

#admin #submit
{
	border-radius: 10%;
	background-color: #F5F5F5;
	box-shadow: 5px 5px 1px #000000;
}

#admin form
{
	color: #F5F5F5;
	position: relative;
	margin: auto;
	border: solid;
	border-color: green;
	border-radius: 15px;
	width: 350px;
	height: 200px;
	background-color: green;
}

#admin h1
{
	border-style: solid;
    border-radius: 10px;
    width: 200px;
    font-size: medium;
    margin: auto;
    text-align: center;
}

#admin .ajoutpr #name
{
	top: 10px;
	position: relative;
	left: 29px;
}

#admin .ajoutpr #url
{
	top: 20px;
	position: relative;
	left: 10px
}

#admin .ajoutpr #prix
{
	position: relative;
	top: 40px;
	left: 50px;
}

#admin .ajoutpr #cat
{
	position: relative;
	top: 28px;
	left: 8px;
}

#admin .ajoutpr #submit
{
	top: 65px;
	left: 140px;
	position: relative;
}

#admin .modif #name
{
	position: relative;
	top: 20px;
	left: 98px;
}

#admin .modif #new
{
	position: relative;
	top: 30px;
	left: 38px;
}

#admin .modif #submit
{
	position: relative;
	top: 67px;
	left: 140px;
}

#admin .modif form
{
	height: 140px;
}

#admin .suppro form
{
	height: 100px;
}

#admin .suppro #submit, .ajoutcat #submit, .suppcat #submit
{
	position: relative;
	left: 140px;
	top: 47px;
}

#admin .suppro .champ
{
	position: relative;
	top: 30px;
	left: 10px;
}

#admin .ajoutcat .champ
{
	position: relative;
	top: 24px;
	left: 84px;
}

#admin .ajoutcat form
{
	height: 100px;
}

#admin .suppcat form
{
	height: 100px;
}

#admin #select
{
	position: relative;
	top: 26px;
	left: 83px;
}


#no-admin form
{
	color: #F5F5F5;
	position: relative;
	margin: auto;
	border: solid;
	border-color: green;
	border-radius: 5%;
	width: 350px;
	height: 200px;
	background-color: green;
}

#no-admin #title
{
	position: relative;
	z-index: 10;
	width: 160px;
	font-size: x-large;
	text-align: center;
	margin: auto;
	top: 60px;
	color: white;
	text-decoration: underline;
}

#no-admin #retour
{
	text-decoration: none;
	color: rgb(252, 252, 252);
	position: relative;
	border-style: solid;
	text-align: center;
	z-index: 10;
	top: 230px;
	right: -653px;
	border-color: green;
	background-color: green;
	box-shadow: 1px 1px 1px #000000;
}

#no-admin #submit
{
	border-radius: 10%;
	background-color: #F5F5F5;
	box-shadow: 1px 1px 1px #000000;
	position: relative;
	top: 40px;
	width: 70px;
	left: 203px;
}

#no-admin #name
{
	position: relative;
	top: 40px;
	left: 10px;
}

#no-admin #passwd
{
	position: relative;
	top: 38px;
	left: 73px;
}

#no-admin #text-passwd
{
	font-size: medium;
	position: relative;
	top: 38px;
	left: 73px;
}

#no-admin #text-name
{
	font-size: medium;
	position: relative;
	top: 40px;
    left: 10px;
}

#submit:hover
{
	background-color: green;
	border-color: green;
}

#retour:hover
{
	background-color: rgb(245, 62, 62);
	border-color: rgb(245, 62, 62);
	color: #F5F5F5;
}
