a
{
	text-decoration: none;
	color: rgb(252, 252, 252);
	position: relative;
	border-style: solid;
	text-align: center;
	border-color: green;
	background-color: green;
	box-shadow: 1px 1px 1px #000000;
}

a:hover
{
	background-color: rgb(23, 199, 8);
	border-color: rgb(23, 199, 8);
	color: #F5F5F5;
}

#Success
{
	position: relative;
	margin: auto;
	text-align: center;
	font-size: 70px;
	color: green;
	text-decoration: underline;
}

#wrong
{
	position: relative;
	margin: auto;
	text-align: center;
	font-size: 37px;
	color: red;
	text-decoration: underline;
}

body
{
    margin: auto;
    max-width: 1100px;
    background-color: #FDF5E6;
}
